@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bagel-font {
  font-family: var(--font-bagel-fat-one), sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .skeleton {
    @apply relative overflow-hidden before:absolute before:h-full before:w-[200%] before:animate-wave before:bg-gradient-to-r before:from-skeleton-start before:to-skeleton-end;
  }

  .skeleton-rounded {
    @apply relative overflow-hidden rounded-md before:absolute before:h-full before:w-[200%] before:animate-wave before:bg-gradient-to-r before:from-skeleton-start before:to-skeleton-end;
  }

  .loading {
    @apply disabled:before:bg-disabaled-background relative disabled:before:absolute disabled:before:inset-0 disabled:before:h-full disabled:before:w-full disabled:after:absolute disabled:after:z-[1] disabled:after:h-5 disabled:after:w-5 disabled:after:animate-spin disabled:after:rounded-full disabled:after:border-2 disabled:after:border-white disabled:after:border-b-transparent disabled:after:border-t-transparent;
  }
}
